<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login and Registration Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <style>
            .error{
                color: red;
                background-color: yellow;
            }
            .blank{
                color: blue;
            }
            .password{
                color: purple;
            }
            .good{
                color: green;
            }
        
        </style>
    </head>
    <body>

        <!-- This shows the error messages -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <h2>Register Here:</h2>
            first name: <input type="text" name="f_name" value="">
            last name: <input type="text" name="l_name" value="">
            email: <input type="text" name="user_email" value="">
            password: <input type="password" name="pass" value="">
            confirm password: <input type="password" name="confirm_password" value="">
            <input type="submit" value="Register">
        </form>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h2>Login:</h2>
            email: <input type="text" name="user_email" value="">
            password: <input type="password" name="pass" value="">
            <input type="submit" value="Log in">
        </form>    

    </body>
</html>